@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 9%;
  --primary: 20 95% 81%;
  --brown: 20 21% 34%;
  --muted-brown: 20 95% 81% 0.1;
  --secondary: 20 16% 84%;
  --muted-secondary: 54 16% 84%;
  --light-green: 100 16% 84%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 160%;
}
